.our-work{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.our-work .bgimg{
    width: 100%;
    background-image: url(../../assets/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.our-work .wrapper {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    overflow: hidden;
    color: white;
    padding: 80px 0 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .our-work .content{
      padding: 0 40px 0 40px;
  }
  .our-work .content h1{
    font-family: "Oswald", Helvetica, sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 80px;
    text-transform: uppercase;
    background-image: -webkit-linear-gradient( rgba(204, 154, 79, 0.66) 50%, white 50%);
    background-repeat: repeat;
    background-position: 0 0;
    background-size: 100% 50px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  
    -webkit-animation: stripes 2s linear infinite;
    animation: stripes 2s linear infinite;
      
  }
  @-webkit-keyframes stripes {
    100% {
      background-position: 20px 50px;
    }
  }
   
  @keyframes stripes {
    100% {
      background-position: 20px -50px;
    }
  }

.our-work .content h2{
    text-align: center;
    font-size: 15px;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
}
.our-work .content h2 span{
  color: rgba(204, 154, 79, 0.9);
}
.our-work .content p{
    text-align: center;
    font-size: 18px;
    margin-bottom: 50px;
}
.our-work .filter{
  /* height: 10vh; */
  line-height: 10vh;
  text-align: center;
  padding: 0 20px 0 20px;
  margin: 0;
  list-style: none;
  color: white;
  text-transform: uppercase;
}
.our-work .filter .active{
  color: #cc9a4f;
}

.our-work .filter li{
  display: inline-block;
  float: none;
  position: relative;
  text-indent: 0;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 800;
  padding: 0px 15px;
  letter-spacing: 2px;
  cursor: pointer;
}

.our-work .filter li:before {
  content: "[";
  margin-right: 6px;
  display: inline-block;
  opacity: 0;
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.our-work .filter li:after {
  content: "]";
  margin-left: 6px;
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

.our-work .filter .btn:hover li:before,
.our-work .filter .btn:hover li:after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}
.our-work .btn{
  font-weight: bold;
  color: #f1f1f1;
  border: #f1f1f1 1px solid;
  background-color: hsla(0, 0%, 0%, 0);
  font-size: 1rem;
  border-radius: 5px;
  /* margin-top: 20px !important; */
  padding: 5px;
  margin: 0 10px;
}

.our-work .btn:hover{
  color: black;
  background-color: white;
}

.our-work .box{
    position: relative;
    width: 25%;
    height: auto;
    overflow: hidden;
    float: left;
    transition: 0.5s;
  }
  .our-work .box .img-box img{
    width: 100%;
  }
  
  .our-work .box .img-box{
  position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .our-work .box:hover .img-box{
  -ms-transform: rotate(-20deg); 
  transform: rotate(-20deg) scale(1.5);
  }
  .our-work .box:hover{
  cursor: pointer;
  }
  .our-work .sub-content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.8);
  color: black;
  opacity: 0;
  transition: 0.5s;
  padding: 5%;
  overflow: hidden;
  }
  .our-work .box:hover .sub-content{
  opacity: 1;
  }
    .our-work .sub-content p{
      position: relative;
      text-transform: uppercase;
      font-size: 12px;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
  
    }
    @media(max-width: 768px){
        .our-work .box{
          width: 50%;
      }
      }
      @media(max-width: 576px){
        .our-work .box{
          width: 100%;
      }
      .our-work .content h1{
          font-size: 60px;
      }
      .our-work .content p{
          font-size: 18px;
      }
        .our-work .sub-content p{
          font-size: 8px;
      
        }
      }